In [7]:
print("hello world!")

hello world!

In [8]:
import pandas as pd

In [9]:
import numpy as np

In [10]:
df = pd.read_csv('movies_2.csv')

In [11]:
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [12]:
df.shape

(616, 11)

In [13]:
df.info

<bound method DataFrame.info of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [14]:
df.describe

<bound method NDFrame.describe of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [15]:
df.memory_usage

<bound method DataFrame.memory_usage of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [16]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [17]:
df.info(verbose= False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Columns: 11 entries, MovieID to Summary
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [18]:
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [19]:
df.isna()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
611,False,False,False,False,False,False,False,False,True,True,True
612,False,False,False,False,False,False,False,False,True,True,True
613,False,False,False,False,False,False,False,False,True,True,True
614,False,False,False,False,False,False,False,False,True,True,True
615,False,True,True,True,True,True,True,True,True,True,True

In [20]:
df.notna()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
611,True,True,True,True,True,True,True,True,False,False,False
612,True,True,True,True,True,True,True,True,False,False,False
613,True,True,True,True,True,True,True,True,False,False,False
614,True,True,True,True,True,True,True,True,False,False,False
615,True,False,False,False,False,False,False,False,False,False,False

In [21]:
df.isnull()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
611,False,False,False,False,False,False,False,False,True,True,True
612,False,False,False,False,False,False,False,False,True,True,True
613,False,False,False,False,False,False,False,False,True,True,True
614,False,False,False,False,False,False,False,False,True,True,True
615,False,True,True,True,True,True,True,True,True,True,True

In [22]:
df.dropna()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000.0,652105443.0,2014-10-24,Animation,102.0,7.8,380953.0,The special bond that develops between plus-si...
506,507,Interstellar,PG-13,165000000.0,675120017.0,2014-11-05,Science Fiction,169.0,8.6,1343549.0,A team of explorers travel through a wormhole ...
507,508,Captain America: The Winter Soldier,PG-13,170000000.0,714766572.0,2014-03-20,Action,136.0,7.7,685903.0,As Steve Rogers struggles to embrace his role ...
508,509,Dawn of the Planet of the Apes,PG-13,170000000.0,710644566.0,2014-06-26,Science Fiction,130.0,7.6,395425.0,A growing nation of genetically evolved apes l...
509,510,Guardians of the Galaxy,PG-13,170000000.0,773328629.0,2014-07-30,Action,121.0,8.0,978222.0,A group of intergalactic criminals must pull t...

In [23]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [24]:
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [25]:
df.drop('Summary', axis = 1, inplace = True)

In [26]:
df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.rename(columns= {'MPAA Rating' : 'MPAA_Rating' , 'Release Date' : 'Release_Date', 'Rating Count' : 'Rating_Count'} , inplace= True)

In [28]:
df

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.index

RangeIndex(start=0, stop=616, step=1)

In [30]:
df.rename(str.lower , axis = 1 , inplace = True )

In [31]:
df.head(2)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0

In [32]:
df.drop(index = 615, inplace = True)

In [33]:
df.tail(3)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

In [34]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movieid       615 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        508 non-null    float64
 9   rating_count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [35]:
df['rating'].fillna(value= df['rating'].median(), inplace = True)

In [36]:
df['rating_count'].fillna( value = df['rating_count'].median(), inplace = True)

In [37]:
df.info ( verbose = True )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movieid       615 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        615 non-null    float64
 9   rating_count  615 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [55]:
df.dtypes

movieid                  int64
title                   object
mpaa_rating             object
budget                 float64
gross                  float64
release_date    datetime64[ns]
genre                   object
runtime                float64
rating                 float64
rating_count           float64
dtype: object

In [38]:
df.astype({ 'budget': 'int64', 'gross': 'int64'}).dtypes

movieid           int64
title            object
mpaa_rating      object
budget            int64
gross             int64
release_date     object
genre            object
runtime         float64
rating          float64
rating_count    float64
dtype: object

In [39]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [40]:
df.dtypes

movieid                  int64
title                   object
mpaa_rating             object
budget                 float64
gross                  float64
release_date    datetime64[ns]
genre                   object
runtime                float64
rating                 float64
rating_count           float64
dtype: object

In [41]:
# show the movies with more than 7 in Rating & greater than 50 million Gross

df [ (df ['rating'] > 7)   &  (df ['gross'] > 500000000) ]

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
58,59,Terminator 2: Judgment Day,R,100000000.0,520000000.0,1991-07-01,Science Fiction,137.0,8.5,930593.0
65,66,Aladdin,G,28000000.0,504050219.0,1992-11-25,Animation,90.0,8.0,336384.0
107,108,The Lion King,G,45000000.0,788241776.0,1994-06-23,Animation,89.0,8.5,869127.0
111,112,Forrest Gump,PG-13,55000000.0,677945399.0,1994-07-06,Comedy,142.0,8.8,1657851.0
173,174,Men in Black,PG-13,90000000.0,589390539.0,1997-07-02,Thriller,98.0,7.3,486947.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000.0,652105443.0,2014-10-24,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000.0,675120017.0,2014-11-05,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000.0,714766572.0,2014-03-20,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000.0,710644566.0,2014-06-26,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000.0,773328629.0,2014-07-30,Action,121.0,8.0,978222.0

In [42]:
# show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating

df [ (df ['rating'] > 7)   &  (df ['gross'] > 500000000) & (df['mpaa_rating'] == 'PG')]

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
255,256,Harry Potter and the Sorcerer's Stone,PG,125000000.0,9.751000e+08,2001-11-04,Fantasy,152.0,7.6,583224.0
270,271,Harry Potter and the Chamber of Secrets,PG,100000000.0,8.766885e+08,2002-11-13,Fantasy,161.0,7.4,505027.0
304,305,The Incredibles,PG,92000000.0,6.314421e+08,2004-11-05,Animation,115.0,8.0,617102.0
309,310,Harry Potter and the Prisoner of Azkaban,PG,130000000.0,7.898046e+08,2004-05-31,Fantasy,141.0,7.9,501648.0
311,312,Shrek 2,PG,150000000.0,9.198388e+08,2004-05-19,Animation,93.0,7.2,391295.0
385,386,Kung Fu Panda,PG,130000000.0,6.317446e+08,2008-06-04,Animation,90.0,7.5,390478.0
411,412,Up,PG,175000000.0,7.350991e+08,2009-05-13,Animation,96.0,8.2,867393.0
415,416,Harry Potter and the Half-Blood Prince,PG,250000000.0,9.339592e+08,2009-07-07,Fantasy,153.0,7.6,429384.0
420,421,Despicable Me,PG,69000000.0,5.435140e+08,2010-07-08,Animation,95.0,7.6,473121.0
435,436,Tangled,PG,260000000.0,5.917949e+08,2010-11-24,Animation,100.0,7.7,374981.0
447,448,Puss in Boots: The Three Diablos,PG,130000000.0,5.550000e+08,2011-12-08,Animation,130.0,7.8,727724.0
451,452,Kung Fu Panda 2,PG,150000000.0,6.656923e+08,2011-05-25,Animation,91.0,7.2,234612.0
468,469,Brave,PG,185000000.0,5.389832e+08,2012-06-21,Animation,93.0,7.1,346490.0
480,481,Despicable Me 2,PG,76000000.0,9.707619e+08,2013-06-25,Animation,98.0,7.4,350582.0
484,485,The Croods,PG,135000000.0,5.851789e+08,2013-03-20,Animation,98.0,7.2,180043.0
485,486,Frozen,PG,150000000.0,1.274219e+09,2013-11-27,Animation,102.0,7.5,527284.0
503,504,How to Train Your Dragon 2,PG,145000000.0,6.091230e+08,2014-06-12,Animation,102.0,7.8,285394.0
505,506,Big Hero 6,PG,165000000.0,6.521054e+08,2014-10-24,Animation,102.0,7.8,380953.0

In [43]:
# count of Animation movies with more than 7 in Rating

df [ (df ['rating'] > 7)   &  (df ['genre'] == 'Animation') ].shape

(39, 10)

In [44]:
#show the list of top 5 movies based on Budget

df['budget'].nlargest(n=5)

594    400000000.0
454    380000000.0
614    356000000.0
574    317000000.0
375    300000000.0
Name: budget, dtype: float64

In [45]:
#show the top 5 Comedy movies by Rating

df_Comedy = df[df['genre'] == 'Comedy'] 
df_Comedy.nlargest(5, 'rating' )

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
111,112,Forrest Gump,PG-13,55000000.0,677945399.0,1994-07-06,Comedy,142.0,8.8,1657851.0
185,186,The Truman Show,PG,60000000.0,264118201.0,1998-06-04,Comedy,103.0,8.1,859224.0
80,81,Groundhog Day,PG,14600000.0,70906973.0,1993-02-11,Comedy,101.0,8.0,549538.0
254,255,"Monsters, Inc.",G,115000000.0,562816256.0,2001-11-01,Comedy,92.0,8.0,758349.0
40,41,Fried Green Tomatoes,PG-13,11000000.0,119418501.0,1991-12-27,Comedy,130.0,7.7,62493.0

In [46]:
df['rating'].nlargest(n=5)

393    9.0
83     8.9
98     8.9
99     8.9
287    8.9
Name: rating, dtype: float64

In [47]:
#top 5 movie names by Rating

df_sorte_rate = df.sort_values(by= 'rating' , ascending=False)
df_sorte_rate.iloc[:5 , [1,8]]

                                             title  rating
393                                The Dark Knight     9.0
83                                Schindler's List     8.9
287  The Lord of the Rings: The Return of the King     8.9
99                                    Pulp Fiction     8.9
98                               Jurassic Park III     8.9

In [48]:
#top 3 high Gross Romance movies released after 1999, not included (typecast it to datetime)


df.sort_values("gross", ascending=False).loc[(df['release_date'] >= '2000-01-01') & (df['genre'] == 'Romance') ].head(3)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000.0,829000000.0,2012-11-13,Romance,115.0,5.5,218357.0
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000.0,712171856.0,2011-03-15,Romance,117.0,4.9,211592.0
401,402,The Twilight Saga: New Moon,PG-13,50000000.0,709827462.0,2009-03-15,Romance,130.0,4.7,252223.0

In [49]:
# Value Counts 

df.value_counts('genre')

genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
dtype: int64

In [50]:
#how many Genres are present in the dataframe? (use the function value_counts() which applies to Series, not Dataframe)

s = pd.Series(df['genre'])
s.value_counts()

Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: genre, dtype: int64

In [51]:
# top 5 expensive movies released after 1999, not included (measured by Budget)

df.sort_values("budget", ascending=False).loc[(df['release_date'] >= '2000-01-01')].head(5)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0

In [52]:
# most & least frequent MPAA Rating in the dataset in terms of occurances

df['mpaa_rating'].value_counts().iloc[[0, -1]]

PG-13    285
G         27
Name: mpaa_rating, dtype: int64

In [53]:
# most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)
df.groupby('genre')['budget'].mean().iloc[[0 , -1]]

genre
Action     1.441682e+08
Western    7.983333e+07
Name: budget, dtype: float64

In [54]:
# which Genre is favored the most by the people?

df.groupby('genre')['rating'].mean().head(1)

genre
Action    6.985455
Name: rating, dtype: float64